* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}


/* header */

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

header nav {
  background: #2c3e50;
  color: white;
  height: 80px;
  font-size: 20px;
  text-transform: uppercase;
  width: 100%;
}

.homepage {
  font-size: 30px;
  color: white;
}

header nav #navbarSupportedContent {
  width: 50% !important;
}

header nav .collapse .form-inline .droite .nav-item .nav-link {
  color: white !important;
}

header nav .collapse .form-inline .droite .nav-item .dropdown-menu {
  background-color: #FFF;
}

header nav .collapse .form-inline .droite .nav-item .dropdown-menu .dropdown-item {
  color: #2c3e50;
}
 
/* Main */

main {
  margin-top: 80px;

}

/* Section 1 */

#section-1 {
  background: #18bc9c;
  text-align: center;
}

.section-1 {
  padding-top: 50px;
}

#avatar {
  border-radius: 500px;
}

h1 {
  margin: 10px auto;
  font-size: 60px;
  color: white;
}

#section-1 .section-1 .ligne {
  display: block;
  height: 2px;
  background-color: white;
  width: 20%;
  margin: 10px auto;
}

#section-1 .section-1 h2 {
  color: white;
  font-size: 40px;
  letter-spacing: 5px;
}

/* Section 2 */

#section-2 {
  min-height: 700px;
  text-align: center;
}

#section-2 .section-2 h2 {
  text-transform: uppercase;
  color: #2c3e50;
  font-size: 40px;
  padding: 35px 0 10px 0;
  font-weight: 800;
}

#section-2 .section-2 h4 {
  color: #2c3e50;
  font-size: 32px;
  padding: 20px 0 10px 0;
  font-weight: 600;
}


#section-2 .section-2 .ligne {
  display: block;
  height: 2px;
  background-color: #2c3e50;
  width: 15%;
  margin: 0 auto;
}

#section-2 .section-2 .center {
  margin: 40px auto 20px auto;
  justify-content: space-evenly;
}

#section-2 .section-2 .card .button-projet {
 background: #2c3e50; 
 color:white;
}

#section-2 .section-2 .card {
  padding: 0;
  margin: 15px;
}

#section-2 .section-2 .card img {
  height: 250px;
}

/* Section 3 */

#section-3 {
  min-height: 520px;
  text-align: center;
  background: #18BC9C;
}

#section-3 .section-3 h2 {
  text-transform: uppercase;
  color: white;
  font-size: 40px;
  padding: 60px 0 10px 0;
}

#section-3 .section-3 .ligne {
  display: block;
  height: 2px;
  background-color: white;
  width: 15%;
  margin: 0 auto;
}

#section-3 .section-3 .text-section-3 {
  width: 80%;
  margin: 10px auto 5px auto;
  font-size: 20px;
  color: white;
}

#section-3 .section-3 .text-section-3 p:last-child {
  padding-bottom: 20px;
}

/* Section 4 */

#section-4 {
  min-height: 300px;
  text-align: center;
}

#section-4 .section-4 h2 {
  text-transform: uppercase;
  color: #2c3e50;
  font-size: 40px;
  padding: 50px 0 10px 0;
}

#section-4 .section-4 div {
  font-size: 28px;
}

#section-4 .section-4 .flex {
  justify-content: space-around;
}

#section-4 .section-4 .flex div a {
  text-decoration: none;
  color: #2c3e50
}

#section-4 .section-4 .flex div #numeroTel {
  display: none;
}

#section-4 .section-4 .flex div #buttonTel, #section-4 .section-4 .flex div #hideButton {
  border: none;
  background: #FFF;
  color: #2c3e50;
}

#section-4 .section-4 .flex div #numeroTel {
  color: #2c3e50;
}



/* Footer */
footer {
  background-color: #2c3e50;
  color: white;
  font-size: 22px;
  text-align: center;
  height: 80px;
}

footer p {
  margin: 0 auto;
  padding: 20px 0;
}

/* Media Queries */
@media (max-width: 991px) {

  main, footer {
      width: 100%;
  }

  /* header */

  .homepage {
      font-size: 25px;
  }

  .form-inline {
      background:  #2c3e50;
      
  }

  .navbar-nav {
      text-align: center;
  }

  .droite {
      text-align: center !important;
      width: 100%;
  }


  /* section 1 */
  #avatar {
      width: 85%;
      height: auto;
  }

  #section-1 .section-1 h1 {
      font-size: 50px;
      padding: 5px;
  }

  /* Section 2 */

  .center {
      margin: 20px auto 10px auto;
  }

  .card {
      margin-top: 5px;
  }


  /* Section 3 */

  #section-3 {
      width: 100%;
      overflow: hidden;
      
  }

  #section-3 .section-3 h3 {
      font-size: 30px;
  }

  #section-3 .section-3 .ligne {
      width: 35%;

  }
  
  .formation {
      margin-top: 15px;
  }               

  
  .exp-1, .exp-2, .form-1, .form-2, .form-3, .form-4, .form-5 {
      font-size: 20px;

  }
  
  /* Section 4 */
  #section-4 {
      width: 90%;
      margin: 0 auto;
  }
  
    


}


